contenedor-tabla{
    display: table;
}
.contenedor-fila{
    display: table-row;
    font-weight: bold;
    text-align: center;
}
.contenedor-columna{
    display: table-cell;
}
.Title  
{
    display: table-caption;
    text-align: center;
    font-weight: bold;
    font-size: larger;  
} 
.header-columna {
    text-align: center;
    font-weight: bold;
    font-size: larger;
    background: #cedce7; /* Old browsers */
    background: -webkit-linear-gradient(#cedce7 0%, #596a72 100%);
    background: -o-linear-gradient(#cedce7 0%, #596a72 100%);
    background: linear-gradient(#cedce7 0%, #596a72 100%); /* FF3.6-15 */  /* Chrome10-25,Safari5.1-6 */  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=0 ); /* IE6-9 */
}
