<table id="film-table" class="table table-striped table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <td>Id
        <span (click)="setOrder('id', 'down')" class="fa fa-caret-down fa-2x colocar"></span>
        <span (click)="setOrder('id', 'up')" class="fa fa-caret-up fa-2x colocar"></span>
      </td>
      <td>Titulo
        <span (click)="setOrder('titulo', 'down')" class="fa fa-caret-down fa-2x colocar"></span>
        <span (click)="setOrder('titulo', 'up')" class="fa fa-caret-up fa-2x colocar"></span>
      </td>
      <td>Director
        <span (click)="setOrder('director', 'down')" class="fa fa-caret-down fa-2x colocar"></span>
        <span (click)="setOrder('director', 'up')" class="fa fa-caret-up fa-2x colocar"></span>
      </td>
      <td>Fecha
        <span (click)="setOrder('fecha', 'down')" class="fa fa-caret-down fa-2x colocar"></span>
        <span (click)="setOrder('fecha', 'up')" class="fa fa-caret-up fa-2x colocar"></span>
      </td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let filmActual of filmStore" (click)="onRowClick(film)">
      <td>{{filmActual.id}}</td>
      <td>{{filmActual.titulo}}</td>
      <td>{{filmActual.autor}}</td>
      <td>{{filmActual.anio}}</td>
    </tr>
  </tbody>
</table>